---
openapi: 3.1.0
info:
  title: Partoo Rest API
  version: v2
  license:
    name: "© Copyright Partoo"
    url: https://www.partoo.co/en/gtu-api/
  x-logo:
    url: https://partoo-client-images.s3.amazonaws.com/logo-partoo-restapi-white.png
  description: |
    ## Introduction
    The Partoo Rest API allows you to automate all the actions that are possible to do in the Partoo Web Application.

    The Partoo Rest API can be used for many different purposes:
      - Create/update/delete your businesses & users if you are a client.
      - Create/subscribe/manage organizations, businesses & users if you are a reseller.
      - Retrieve data on businesses you have access to if you are a publisher.
      - ...
servers:
- url: https://api.partoo.co/v2
  description: Production server
- url: https://api.sandbox.partoo.co/v2
  description: Sandbox server (dev environment for clients & partners)
tags:
- name: Change Log
  description: "<h2>Upcoming changes</h2> <h2>2025-07-15</h2> <ul>\n  <li>\n    <h3>Review
    analytics V1 API endpoints deprecation</h3>\n    <p>The impacted endpoints are:</p>\n
    \   <ul>\n      <li>GET <a href=\"#operation/getReviewAnalytics\">/v2/reviews/stats</a></li>\n
    \     <li>GET <a href=\"#operation/getQualitativeEvolution\">/v2/reviews/qualitative-evolution</a></li>\n
    \     <li>GET <a href=\"#operation/getQuantitativeEvolution\">/v2/reviews/quantitative-evolution</a></li>\n
    \   </ul>\n    <p>\n      You can use the new GET <a href=\"#operation/getReviewAnalyticsMetrics\">/v2/review_analytics/metrics</a>\n
    \     endpoint to get the same data:\n    </p>\n    <ul>\n      <li>\n        <code>/v2/reviews/stats</code>\n
    \       ➡ <code>/v2/review_analytics/metrics?metrics=average_rating,rating_distribution,reply_time,reviews_count</code>\n
    \       <br/>⚠ The properties treated, not_treated and answer_time are no longer
    available<br/><br/>\n      </li>\n      <li>\n        <code>/v2/reviews/quantitative-evolution</code>\n
    \       ➡ <code>/v2/review_analytics/metrics?dimensions={dimension}&metrics=reviews_count</code>\n
    \       <br/>where dimension = <code>day</code> | <code>week</code> | <code>month</code>
    | <code>year</code>\n        <br/><br/>\n      </li>\n      <li>\n        <code>/v2/reviews/qualitative-evolution</code>\n
    \       ➡ <code>/v2/review_analytics/metrics?dimensions={dimension}&metrics=reviews_count,average_rating</code>\n
    \       <br/>where dimension = <code>day</code> | <code>week</code> | <code>month</code>
    | <code>year</code>\n      </li>\n    </ul>\n  </li>\n  <li>\n    <h3>Deprecation
    of products for features</h3>\n    <p>\n      We're replacing our products for
    a new system with features.<br />\n      This will allow to have a more fine-grained
    control over the features available to organizations, businesses and users.<br
    />\n    </p>\n    <h4>Impacts</h4>\n      <h5>Organization</h5>\n        <p>\n
    \         You can now retrieve the list of features your org has access to with
    its subscribed plans through the <code>org_features</code> field.<br />\n          You
    can also retrieve the list of all available features from the org subscribed plans
    as well as the plans only some businesses may have subscribed to, through the
    <code>features</code> field.\n        <p>\n        <p>Deprecated fields: </p>\n
    \       <ul>\n          <li><code>has_google_post</code></li>\n          <li><code>display_google_post</code></li>\n
    \       </ul>\n      <h5>Business</h5>\n        <p>\n          You can now retrieve
    the list of features your business has access to with its organization and its
    own subscribed plans through the <code>features</code> field. This field does
    not appear in the GET <a href=\"#operation/searchBusinesses\">/v2/business/search</a>
    endpoint. <br />\n          You can now search businesses by features using the
    <code>features__in</code> and <code>features__notin</code> query parameters.\n
    \       </p>\n      <h5>User</h5>\n        <p>\n          We're replacing the
    <code>sidebar_products</code> field with <code>sidebar_pages</code> field.<br
    />\n          This will allow you to control which pages a user can access to
    in a more granular way.<br />\n          You can find the correspondence between
    products and features in the table below, this will be used during the transition
    period.<br />\n          ⚠ Warning: during the deprecation time, if you update
    a user's <code>sidebar_product</code> field and give them <code>presence_management</code>,
    it will give them the <code>available_features</code> <code>diffusion</code> and
    <code>presence_analytics</code>.<br />\n          ⚠ Warning: during the depreciation
    time, if you update a user's <code>sidebar_product</code> field with any value,
    it will give them the <code>posts</code> and <code>bulk_modification</code> features
    if their organization have the feature. <br />\n          ⚠ Warning: during the
    deprecation time, a user having the product <code>presence_management</code> returned
    in the <code>sidebar_product</code> field may have only one of the features <code>diffusion</code>
    and <code>presence_analytics</code>.\n        </p>\n        <p>Deprecated field:
    </p>\n        <ul>\n          <li><code>sidebar_products</code></li>\n        </ul>\n
    \       <table>\n          <thead>\n            <tr>\n              <th>Product</th>\n
    \             <th>Feature</th>\n            </tr>\n          </thead>\n          <tbody>\n
    \           <tr>\n              <td><code>presence_management</code></td>\n              <td><code>diffusion</code>
    and <code>presence_analytics</code></td>\n            </tr>\n            <tr>\n
    \             <td><code>review_management</code></td>\n              <td><code>review_management</code>
    and <code>review_analytics</code></td>\n            </tr>\n            <tr>\n
    \             <td><code>review_booster</code></td>\n              <td><code>review_invite</code></td>\n
    \           </tr>\n            <tr>\n            <tr>\n              <td><code>messages</code></td>\n
    \             <td><code>messages</code></td>\n            </tr>\n            <tr>\n
    \             <td>Managed at Organization level if the Organization has subscribed
    to Google Posts</td>\n              <td><code>posts</code></td>\n            </tr>\n
    \           <tr>\n              <td>Managed at Organization level if the Organization
    has subscribed to Bulk Modification</td>\n              <td><code>bulk_modification</code></td>\n
    \           </tr>\n          </tbody>\n        </table>\n    <p>\n      The impacted
    endpoints are:\n    </p>\n    <ul>\n      <li>GET <a href=\"#operation/getOrganization\">/v2/org/{org_id}</a></li>\n
    \     <li>GET <a href=\"#operation/searchOrganizations\">/v2/org/search</a></li>\n
    \     <li>GET <a href=\"#operation/searchUser\">/v2/user/search</a></li>\n      <li>GET
    <a href=\"#operation/getMyUser\">/v2/user/me</a></li>\n      <li>GET <a href=\"#operation/getUser\">/v2/user/{user_id}</a></li>\n
    \     <li>POST <a href=\"#operation/createUser\">/v2/user</a></li>\n      <li>POST
    <a href=\"#operation/updateUser\">/v2/user/{user_id}</a></li>\n      <li>GET <a
    href=\"#operation/searchBusinesses\">/v2/business/search</a></li>\n      <li>GET
    <a href=\"#operation/searchBusinessesStats\">/v2/business/search/stats</a></li>\n
    \     <li>GET <a href=\"#operation/getBusiness\">/v2/business/{business_id}</a></li>\n
    \   </ul>\n  </li>\n</ul> <h2>2025-04-22</h2> <ul>\n  <li><h3>Adding media support
    to messaging</h3></li>\n  <p>\n    We added support for 3 new message content_types
    : <code>Audio</code>, <code>Video</code> and <code>Document</code>.\n  </p>\n
    \ <p>\n    This means that you will now be able to receive media messages in your
    conversations, and also send them.\n  </p>\n  <p>\n  </p>\n  <table>\n    <caption>\n
    \     ⚠️ Due to channel limitations, some media types are not supported on all
    channels.\n    </caption>\n    <thead>\n      <tr>\n        <th scope=\"col\">Channel</th>\n
    \       <th scope=\"col\">Image</th>\n        <th scope=\"col\">Video</th>\n        <th
    scope=\"col\">Audio</th>\n        <th scope=\"col\">Document</th>\n      </tr>\n
    \   </thead>\n    <tbody>\n      <tr>\n        <th scope=\"row\">Facebook</th>\n
    \       <td>✅</td>\n        <td>✅</td>\n        <td>✅</td>\n        <td>✅</td>\n
    \     </tr>\n      <tr>\n        <th scope=\"row\">Instagram</th>\n        <td>✅</td>\n
    \       <td>✅</td>\n        <td>✅</td>\n        <td>❌</td>\n      </tr>\n      <tr>\n
    \       <th scope=\"row\">SMS</th>\n        <td>❌</td>\n        <td>❌</td>\n        <td>❌</td>\n
    \       <td>❌</td>\n      </tr>\n      <tr>\n        <th scope=\"row\">Whatsapp</th>\n
    \       <td>✅</td>\n        <td>✅</td>\n        <td>✅</td>\n        <td>✅</td>\n
    \     </tr>\n    </tbody>\n  </table>\n  <p>\n    This changes will reflect in
    all endpoints that deal with messages :\n  </p>\n  <ul>\n    <li><a href=\"#operation/listConversations\">GET
    /v2/conversations</a></li>\n    <li><a href=\"#operation/getConversation\">GET
    /v2/conversations/{conversation_id}</a></li>\n    <li><a href=\"#operation/listMessages\">GET
    /v2/messages</a></li>\n    <li><a href=\"#operation/postMessage\">POST /v2/messages</a></li>\n
    \ </ul>\n  <p>\n    And message webhooks events :\n  </p>\n  <ul>\n    <li><a
    href=\"#operation/message_created\">EVENT message_created</a></li>\n    <li><a
    href=\"#operation/message_updated\">EVENT message_updated</a></li>\n  </ul>\n</ul>
    <h2>2025-02-14</h2> <ul>\n  <li>Webhook configuration API</li>\n  <p>\n    Customers
    with access to the webhook feature can now configure their webhooks directly from
    the API.\n    You can also set webhooks on our website in the settings > integrations
    > webhooks.\n  </p>\n</ul> <h2>2025-01-15</h2> <ul>\n  <li>\n    <h3><code>Content-Type</code>
    validation</h3>\n    <p>\n      Following an upgrade on our webservers, we now
    enforce a validation of <code>Content-Type</code> on all the requests to avoid
    guessing.\n      The default value expected is <code>application/json</code>,
    unless specified on an endpoint.\n      All endpoints with method <code>POST</code>,
    <code>PATCH</code> and <code>PUT</code> are affected.\n    </p>\n  </li>\n  <li>\n
    \   <h3>Removing category_gmb_id usage for <a href=\"#tag/Google-Services\">GmbServices</a>
    endpoints</h3>\n    <p>\n        <b>category_gmb_id</b> is definitely removed,
    use <b>category_gmb_name</b> for the <a href=\"#tag/Google-Services\">GmbServices</a>
    endpoints\n    </p>\n  </li>\n  <li>\n    <h3>Removing <a href=\"#tag/Presence-analytics\">Presence
    analytics</a> endpoints</h3>\n      <p>\n          Presence analytics endpoints
    are removed and replaced by <a href=\"#tag/Presence-analytics/operation/getPresenceAnalyticsMetrics\">Profile
    metrics</a> and <a href=\"#tag/Presence-analytics/operation/getPresenceAnalyticsKeywords\">Profile
    keywords</a> endpoints.\n      </p>\n  </li>\n</ul> <h2>2024-10-15</h2> <ul>\n
    \ <li>\n    <h3>Store Code identification</h3>\n    <p>\n      It is now possible
    to replace business id by business code as path parameter, only for users inside
    the same organization.\n      To do so, you may replace <code>/{business_id}</code>
    by <code>/c-{code}</code>\n      <br/>\n    </p>\n    <p>\n      For example,
    you can now update a business directly from its code using\n      <p>\n      <pre>curl
    -H \"x-APIKey: ${API_KEY}\" --json '{\"address_full\": \"221b Baker Street\"}'
    https://api.partoo.co/v2/business/c-LON-HQ</pre>\n      </p>\n    </p>\n    <p>\n
    \     The following endpoints are affected:<br/>\n      <code>\n        /business/{business_id}<br/>\n
    \       /business/{business_id}/subscription<br/>\n        /business/{business_id}/additional_data<br/>\n
    \       /business/{business_id}/attributes<br/>\n        /business/{business_id}/more_hours<br/>\n
    \       /business/{business_id}/services<br/>\n        /business/{business_id}/services/{service_id}<br/>\n
    \       /business/{business_id}/structured_services<br/>\n        /business/{business_id}/free_form_services<br/>\n
    \       /business/{business_id}/food_menus<br/>\n        /business/{business_id}/place_action_links<br/>\n
    \       /business/{business_id}/business_fields<br/>\n        /publisher_errors/{business_id}<br/>\n
    \     </code>\n    </p>\n    <h4>Explanations</h4>\n    <p>\n      Since the rate
    limit has been put in place, it has become harder to integrate our API while complying
    with this limit.\n      Enabling the search by store code will simplify integrations
    which required business search just to map our internal ids with codes which are
    ids in external.\n    </p>\n    <p>\n      <b>Why the <code>/c-</code> prefix?</b><br/>\n
    \     We believe it is best for an integration to be explicit about requesting
    with a code rather than an id and we don't want to make guess.\n    </p>\n  </li>\n</ul>
    <h2>2024-10-15</h2> <ul>\n <li>\n   <h3>Repeatable URL</h3>\n   <p>\n    Following
    an update on Google's API, <code>REPEATABLE_URL</code> attributes will no longer
    be supported.\n    The impacted endpoints are:\n   </p>\n     <ul>\n       <li>GET
    <a href=\"#operation/getBusinessAttributes\">/v2/business/{business_id}/attributes</a></li>\n
    \      <li>POST <a href=\"#operation/postBusinessAttributes\">/v2/business/{business_id}/attributes</a></li>\n
    \    </ul>\n    <p>\n    Replace any usage of <code>REPEATABLE_URL</code> with
    Place Action Links:\n    </p>\n      <ul>\n        <li>GET: <a href=\"#operation/getPlaceActionLinks\">/business/{business_id}/place_action_links</a></li>\n
    \       <li>POST: <a href=\"#operation/postPlaceActionLink\">/business/{business_id}/place_action_links</a></li>\n
    \     </ul>\n </li>\n</ul> <h2>2024-07-15</h2> <ul>\n  <li>\n    <h3>Business
    address fields are nullable</h3>\n    <p>\n      Address-related fields within
    the Business object (<b>address</b>, <b>address_full</b>, <b>address2</b>, <b>zipcode</b>,
    <b>city</b>, <b>long</b>, <b>lat</b>) can now be <b>null</b> if the business does
    not have an address filled out.<br/>\n      The impacted endpoints are :\n      <ul>\n
    \     <li>GET <a href=\"#operation/searchBusinesses\">/v2/business/search</a></li>\n
    \     <li>GET <a href=\"#operation/getBusiness\">/v2/business/{business_id}</a></li>\n
    \     </ul>\n    </p>\n  </li>\n  <li>\n    <h3>Deprecation of body parameters
    on DELETE endpoints</h3>\n    <p>These body parameters are moved to query parameters
    for these endpoints:<p>\n    <ul>\n      <li>\n        <p>\n          <a href=\"#tag/Organizations/operation/deleteOrganization\">DELETE
    Organization</a>: <code>force</code>\n        </p>\n      </li>\n      <li>\n
    \       <p>\n          <a href=\"#tag/Custom-Fields/operation/deleteCustomFields\">DELETE
    Custom Field</a>: <code>forced_update</code> becomes <code>force</code>\n        </p>\n
    \     </li>\n    </ul>\n    <p>This route with body parameter is replaced by new
    route with path parameters:<p>\n    <ul>\n      <li>\n        <p>\n          <a
    href=\"#tag/Businesses/operation/deprecatedDeleteBusinessServices\">DELETE Google
    Services with body parameter route</a> is deprecated and replaced with <a href=\"#tag/Businesses/operation/deleteBusinessServices\">DELETE
    Google Services with path parameter route</a>\n        </p>\n      </li>\n    </ul>\n
    \   <p>All these body parameters will be removed on January 15th 2025, please
    update your integrations by then.</p>\n  </li>\n  <li>\n    <h3>Renamed <code>forced_update</code>
    parameter</h3>\n    <p>\n      The <code>forced_update</code> parameter in the
    <a href=\"#tag/Custom-Fields/operation/putUpdateCustomFields\">PUT Custom Field</a>
    endpoint has been renamed to <code>force</code>.\n    </p>\n  </li>\n  <li>\n
    \   <h3>Webhooks are now signed</h3>\n    In order to increase security and enable
    you to verify that incoming traffic comes from Partoo, we have enabled signatures
    on webhooks.\n    You may find a dedicated section on <a href=\"#tag/Webhooks/Webhook-security\"
    title=\"webhook security\">Webhook Security</a>\n  </li>\n</ul> <h2>2024-06-24</h2>
    <ul>\n  <li>\n    <h3>Swagger Corrections \U0001F389</h3>\n    <p>\n      Our
    Swagger file has been cleaned to make it compliant with standard OpenAPI 3.0.<br/>\n
    \     No change in API is to expect and no change is required in your existing
    integrations. <br/>\n      New integrations can now leverage on tools to automate
    boilerplate code.\n    </p>\n  </li>\n</ul> <h2>2024-02-29</h2> <ul>\n  <li>\n
    \     <h3>Publisher Errors Reporting Endpoint</h3>\n      <p>\n        Introduced
    a new endpoint to report and detail errors detected by publishers in specific
    sections and fields of business information edits. This feature allows users to
    receive targeted feedback on errors identified by different publishers, enabling
    more precise and efficient corrections. You can find it <a href=\"#tag/Presence/operation/postPublisherErrors\">here</a>\n
    \     </p>\n    </li>\n</ul> <h2>2023-07-15</h2> <ul>\n    <li>\n      <h3>Rate
    limiting</h3>\n      <p>\n          Due to recent incidents with faulty integrations
    consuming too much resources from our API and causing unavailability for others,
    we’ve decided to put a <a href=\"#section/Rate-Limiting\">rate limit</a> for each
    organization on API integrations.\n          All organizations will be limited
    to <b>300 API calls per minute</b>.\n      </p>\n    </li>\n    <li>\n        <h3>Presence
    Analytics Endpoints (DEPRECATION)</h3>\n        <ul>\n            <li>\n                Google
    will discontinue its current analytics API endpoint <strong>on 20/02/2023</strong>
    in favour of their new analytics API.\n                The endpoints mentioned
    below will be deprecated in response to this change.\n            </li>\n            <ul>\n
    \               <li>GET <a href=\"#operation/getPresenceAnalytics\">/v2/presence_analytics</a></li>\n
    \               <li>GET <a href=\"#operation/exportPresenceAnalytics\">/v2/presence_analytics/export</a></li>\n
    \           </ul>\n        </ul>\n        <ul>\n          <li>\n            Partoo
    will release new endpoints soon to provide access to the new Google analytics.\n
    \         </li>\n        </ul>\n    </li>\n    <li>\n        <h3>Posts Endpoints</h3>\n
    \       <ul>\n            <li>\n                Google will discontinue its current
    analytics API endpoint <strong>on 20/02/2023</strong>.\n                The insights
    related to Google Local Posts will be totally removed from their API.\n                Therefore
    views and clicks on Google Local Posts will no longer be available on Partoo.\n
    \               Facebook insights are still available.\n            </li>\n                <li>GET
    <a href=\"#operation/searchPost\">/v2/posts</a></li>\n            </ul>\n        </ul>\n
    \   </li>\n</ul>\n<h2>2023-04-17</h2> <ul>\n    <li>\n        <h3>Messaging Endpoints</h3>\n
    \       <ul>\n            <li>\n            Release of the endpoints related to
    the Business Messages product\n            </li>\n            <ul>\n                <li>Conversations</li>\n
    \               <li>Messaging Settings</li>\n                <li>Messages</li>\n
    \               <li>Webhooks</li>\n            </ul>\n        </ul>\n    </li>\n</ul>\n<h2>2023-04-15</h2>
    <ul>\n    <li>\n        <h3>Google Post endpoints (DEPRECATION)</h3>\n        <ul>\n
    \           <li>\n                Due to the possibility to create Post on Google
    + Facebook on <a href=\"#tag/Posts\">/posts</a> endpoints.\n                The
    following endpoint will be deleted :\n            </li>\n        </ul>\n    </li>\n
    \   <li>\n        <h3>Google Services endpoints (BREAKING CHANGES)</h3>\n        <ul>\n
    \           <li>\n                Changes occurrences of <b>category_gmb_id</b>
    to <b>category_gmb_name</b> for the <a href=\"#tag/Google-Services\">GmbServices</a>
    endpoints in :\n                    <ul>\n                        <li>request
    body</li>\n                        <li>response body</li>\n                    </ul>\n
    \               The following endpoint will be impacted :\n            </li>\n
    \           <ul>\n                <li>GET <a href=\"#operation/getServicesSuggestions\">/v2/services/suggestions</a></li>\n
    \               <li>GET <a href=\"#operation/getBusinessServices\">/v2/business/{business_id}/services</a></li>\n
    \               <li>POST <a href=\"#operation/postBusinessFreeFormServices\">/v2/business/{business_id}/free_form_services</a></li>\n
    \               <li>POST <a href=\"#operation/postBusinessStructuredServices\">/v2/business/{business_id}/structured_services</a></li>\n
    \           </ul>\n        </ul>\n    </li>\n</ul> <h2>2022-10-15</h2> <ul>\n
    \   <li>\n        <h3>Categories endpoints (DEPRECATION)</h3>\n        <ul>\n
    \           <li>\n                We are changing our categories endpoints to
    better reflect their use.\n                There are now 2 new parameters for
    both endpoints :\n                <ul>\n                    <li>with_names: adds
    in the return payload the list of translations in each available language</li>\n
    \                   <li>with_countries: adds in the return payload the list of
    countries in which the category is available</li>\n                </ul>\n            </li>\n
    \           <h3>Deprecated endpoint</h3>\n            <ul>\n                <li>GET
    <a href=\"#operation/getCategoryDeprecated\">/v2/category/{category_id}</a> replaced
    by GET <a href=\"#operation/getCategory\">/v2/categories/{category_id}</a></li>\n
    \           </ul>\n            <h3>Changed endpoint</h3>\n            <ul>\n                <li>\n
    \                   GET <a href=\"#operation/getCategories\">/v2/categories</a>\n
    \                   <ul>\n                        <li><code>country</code> will
    not appear in the field <code>names</code> after 2022-10-15\n                        <li>The
    countries list in which a category is available is now in the <code>countries</code>
    field, use the parameter <code>with_countries</code></li>\n                        <li><code>names</code>
    will not appear in the returned payload by default, use the parameter <code>with_names</code>
    to get it</li>\n                    </ul>\n                </li>\n            </ul>\n
    \       </ul>\n    </li>\n    <li>\n        <h3>Business integration data (DEPRECATION)</h3>\n
    \       <ul>\n            <li>\n                The following endpoint will be
    deleted :\n            </li>\n            <ul>\n                <li>GET <a href=\"#operation/getBusinessIntegrationStatus\">/v2/business/{business_id}/integration_status</a></li>\n
    \               <li>GET <a href=\"#operation/getBusinessPartnerUrls\">/v2/business/{business_id}/partner_urls</a></li>\n
    \           </ul>\n        </ul>\n    </li>\n    <li>\n      <h3>Presence (DEPRECATION)</h3>\n
    \       <ul>\n          <li>The following endpoint will be deleted : </li>\n            <ul>\n
    \               <li>GET <a href=\"#operation/getBusinessInfo\">/v2/publisher_states/business_info</a></li>\n
    \               <li>GET <a href=\"#operation/getBusinessesInfo\">/v2/publisher_states/businesses_info</a></li>\n
    \           </ul>\n            <li>All deleted information are now available on
    following endpoint :</li>\n            <ul>\n                <li>GET <a href=\"#operation/getPublisherStates\">/v2/publisher_states</a></li>\n
    \           </ul>\n        </ul>\n    </li>\n  </ul>\n  <ul>\n    <li>\n      <h3>Review
    Booster (DEPRECATION)</h3>\n      <ul>\n        <li>The parameter template_id
    will be deleted from endpoint : </li>\n        <ul>\n            <li>POST <a href=\"#tag/Review-Booster/paths/~1review_booster~1send_invitation/post\">/v2/review_booster/send_invitation</a></li>\n
    \           <li>There will be no impact on template already used by users.</li>\n
    \       </ul>\n      </ul>\n    </li>\n</ul>\n<h2>2022-07-15</h2> <ul>\n  <li><h3>Ordering
    of search results</h3>\n    <ul>\n      <li>We are aligning our ways of sorting
    paginated results across all endpoints.\n      All search operations offering
    ordering now provide a <code>order_by</code> parameter.\n      </li>\n      <h3>Changed
    endpoints</h3>\n      <ul>\n          <li>GET <a href=\"#operation/searchReviews\">/v2/reviews</a></li>\n
    \         <li>GET <a href=\"#operation/getCategories\">/v2/categories</a></li>\n
    \         <li>GET <a href=\"#operation/getPresenceAnalytics\">/v2/presence_analytics</a></li>\n
    \     </ul>\n      <h3>Endpoints now providing ordering</h3>\n      <ul>\n          <li>GET
    <a href=\"#operation/searchBusinesses\">/v2/business/search</a></li>\n          <li>GET
    <a href=\"#operation/searchUser\">/v2/user/search</a></li>\n      </ul>\n    </ul>\n
    \ </li>\n</ul> <ul>\n  <li>\n      <h3>Address details (DEPRECATION)</h3>\n      <ul>\n
    \         <li>\n          The new field <code>address_full</code> will replace
    <strong>deprecated</strong> <code>address_details</code> that <b>will be deleted
    from July, 2022</b> :\n          </li>\n          <ul>\n              <li>\n                  <code>address_full</code>
    <i>(string)</i> is the <b>new unique address field</b> allowing not to split address
    in several fields :<br />\n                  For example : <i>130 Rue du Mont-Cenis.</i>\n
    \             </li>\n              <li>\n                  <code>address_details</code>
    will be <b>deleted</b> from following endpoints :\n              </li>\n              <ul>\n
    \                 <li>POST <a href=\"#operation/createBusiness\">/v2/business</a></li>\n
    \                 <li>GET <a href=\"#operation/getBusiness\">/v2/business/{business_id}</a></li>\n
    \                 <li>POST <a href=\"#operation/updateBusiness\">/v2/business/{business_id}</a></li>\n
    \                 <li>GET <a href=\"#operation/searchBusinesses\">/v2/business/search</a></li>\n
    \             </ul>\n          </ul>\n      </ul>\n      <blockquote>\n          <p>⚠️
    It's <b>not possible</b> to use <code>address_full</code> with <code>address_details</code></p>\n
    \     </blockquote>\n  </li>\n</ul> <h2>2022-01-15</h2> <ul>\n  <li><h3>Pagination
    of search results</h3>\n    <ul>\n      <li>We are currently implementing a possibility
    to extend pagination.\n      Following search operations now offer a pagination
    extension up to 100 items per page using <code>per_page</code> parameter.\n      </li>\n
    \     <ul>\n          <li>GET <a href=\"#operation/searchReviews\">/v2/reviews</a></li>\n
    \         <li>GET <a href=\"#operation/searchBusinesses\">/v2/business/search</a></li>\n
    \         <li>GET <a href=\"#operation/searchUser\">/v2/user/search</a></li>\n
    \     </ul>\n    </ul>\n  </li>\n</ul> <ul>\n  <li><h3>API URLs changes (DEPRECATION)</h3>\n
    \   <ul>\n      <li>Sandbox's API is now accessible at <a href=\"https://api.sandbox.partoo.co\">api.sandbox.partoo.co</a>.
    There is a redirection from <a href=\"https://api.sandbox.partoo.co\">sandbox.api.partoo.co</a>
    to <a href=\"https://api.sandbox.partoo.co\">api.sandbox.partoo.co</a> that <b>will
    be deprecated</b> on <b>January 15th, 2022</b>.</li>\n    </ul>\n  <li><h3>Address
    (DEPRECATION)</h3>\n    <ul>\n      <li>\n        The following endpoints will
    be deleted on <b>January 15th, 2022</b>:\n        <ul>\n          <li>GET <a href=\"https://developers.partoo.co/rest_api/v2/#operation/getStreetTypes\">/v2/GET
    street types</a></li>\n          <li>GET <a href=\"https://developers.partoo.co/rest_api/v2/#operation/getNumberSupplements\">/v2/GET
    number supplements</a></li>\n        </ul>\n      </li>\n    </ul>\n  </li>\n
    \ <li><h3>Categories (DEPRECATION)</h3>\n    <ul>\n      <li>\n        To improve
    consistency against v2/categories endpoint, following changes have been made on
    GET /v2/category/{category_id}:\n        <ul>\n          <li><i>gmb_id</i> field
    has been added to response\n          <li><i>id</i> in response now return an
    integer</li>\n        </ul>\n      </li>\n    </ul>\n  </li>\n</ul> <h2>2021-12-14</h2>
    <ul>\n  <li><h3>Categories (DEPRECATION)</h3>\n    <ul>\n      <li>Old category
    ids (format: ‘5109c3a237zdc544d8e267378’) are not accepted anymore when creating/updating
    businesses or in Categories endpoints requests. Please use new category ids (format:
    ’gcid:climbing_gym’). Available categories can be found using this <a href=\"https://developers.partoo.co/rest_api/v2/#operation/getCategories\">endpoint</a>.</li>\n
    \   </ul>\n  </li>\n</ul> <h2>2021-07-15</h2> <ul>\n  <li><h3>Categories (DEPRECATION)</h3>\n
    \   <ul>\n      <li>GET /v2/category/search has been deprecated. In order to search
    through Partoo categories, you can use <a href=\"https://developers.partoo.co/rest_api/v2/#operation/getCategories\">/v2/categories</a>
    offering more advanced filtering options.</li>\n    </ul>\n  <li><h3>API keys
    used to login users (DEPRECATION)</h3>\n    <ul>\n      <li>For security reasons,
    the following routes have been deprecated:</li>\n      <ul>\n        <li>POST
    <a href=\"https://developers.partoo.co/rest_api/v2/#operation/generateAPIKey\">/v2/authorize</a></li>\n
    \       <li>GET <a href=\"https://developers.partoo.co/rest_api/v2/#operation/listAPIKeys\">/v2/authorize/list</a></li>\n
    \       <li>POST <a href=\"https://developers.partoo.co/rest_api/v2/#operation/revokeAPIKey\">/v2/authorize/revoke</a></li>\n
    \     </ul>\n      <li>If you are still using them, you need to migrate to <a
    href=\"https://developers.partoo.co/rest_api/v2/#tag/Connection-Tokens\">/v2/connection/generate_token</a>
    route,\n      which has a similar signature than the deprecated authorization
    endpoints.</li>\n    </ul>\n  </li>\n  <li><h3>Business endpoints (UPDATES AND
    DEPRECATION)</h3>\n    <ul>\n      <li>To improve business data consistency and
    its diffusion on directories, changes below have been made on the following endpoints:\n
    \     <ul>\n        <li>GET <a href=\"https://developers.partoo.co/rest_api/v2/#operation/searchBusinesses\">/v2/business</a></li>\n
    \       <li>POST <a href=\"https://developers.partoo.co/rest_api/v2/#operation/createBusiness\">/v2/business</a></li>\n
    \       <li>GET <a href=\"https://developers.partoo.co/rest_api/v2/#operation/getBusiness\">/v2/business/{business_id}</a></li>\n
    \       <li>POST <a href=\"https://developers.partoo.co/rest_api/v2/#operation/updateBusiness\">/v2/business/{business_id}</a></li>\n
    \     </ul>\n      </li>\n      <li>\n        Impacted fields:\n        <ul>\n
    \         <li>‘clean_name’, ‘video’, ‘siret’ and ‘news’ fields have been removed
    from params and from response</li>\n          <li>‘country’ standardized code
    format</li>\n        </ul>\n      </li>\n    </ul>\n  </li>\n</ul>\n\n<!-- TEMPLATE\n\n
    \ <ul>\n    <li><h3>Title</h3>\n      <ul>\n        <li>Description</li>\n        <ul>\n
    \         <li>Change ...</li>\n          <li>Change ...</li>\n          <li>Change
    ...</li>\n        </ul>\n      </ul>\n    </li>\n  </ul>\n-->\n"
- name: Getting started
  description: "## Authentification\nThe authentication system on Partoo API is using
    API Key that should be put in the header of the request (the name\nof the header
    is `x-APIKey`).\nAn api_key is linked to a user. This user's role will give you
    different access level to the API features.\n\n|  Security Scheme Type |  API
    Key |\n|-----------------------|----------|\n| Header parameter name | x-APIKey
    |\n\n## Environments\nWe provide two public environments, **Sandbox** and **Production**.\n-
    **Sandbox** is a playground environment for you to test your API integration without
    having to worry about side effects.\n- **Production** is where your \"real\" data
    should live. Changes made there are propagated to publishers.\n\n## First steps\nFirst,
    it's a good idea to start building and testing your integration in the Sandbox
    environment.\n\nAsk your Partoo Account Manager to send you an API Key for Sandbox.
    You'll need to pass this API Key in all your API calls in order\nto be authentified,
    in the header `x-APIKey`. More details in the <a href=\"#section/Authentication\">Authentication
    section</a>.\n\nFrom there, you can call any route that your user has access to.
    To know the exact API endpoint to use, you can click\non the route url above the
    \"Response samples\", and this will give you the urls for Production and Sandbox.\n\nIf
    you need a UI access to Sandbox, ask your Partoo Account Manager for one. Be aware,
    Sandbox environment is empty by default,\nand has limited functionalities.\n\nOnce
    you're confident that your integration is production ready, ask your Partoo Account
    Manager for a user access in Production,\nand to give you access to the API Key
    Manager tool. From there, you'll be able to generate and manage your own API Keys
    inside the Partoo Web Application.\n\nYou can now use the Production API Key to
    start calling the Production API.\n\n## Error codes\nPartoo uses conventional
    HTTP response codes to indicate the success or failure of an API request.\nIn
    general: Codes in the 2xx range indicate success. Codes in the 4xx range indicate
    an error that failed given the information provided.\nCodes in the 5xx range indicate
    an error with Partoo servers (these are rare).\nList of potential error code\n\n###
    400 - Bad request\n```json\n\"error\": {\n    \"json\": { }\n}\n```\n### 401 -
    No valid API key provided\n```json\n\"error\": {\n    \"authentication\": \"User
    not authenticated\"\n}\n```\n### 403 - The API key doesn't have permissions to
    perform the request\n```json\n\"error\": {\n    \"authorization\": \"Operation
    not allowed\"\n}\n```\n### 404 - The requested resource doesn't exist\n```json\n\"error\":
    {\n    \"json\": \"Resource not found\"\n}\n```\n### 415 - Invalid media type\nOur
    API framework requires `Content-Type` header to be provided as `application/json`
    on `POST`, `PUT` and `PATCH` operations.\n\nIf your API integration doesn't properly
    send this header, an error may appear\n```json\n{\n    \"errors\": {\n        \"json\":
    \"Unsupported media type. Please use application/json\"\n    }\n}\n```\n\n###
    429 - Too Many Requests\nSee [Rate Limiting](#tag/Getting-started/Rate-Limiting)\n\n\n##
    Security Disclaimer\n**The Partoo Rest API is meant to be used only from a server
    that you control.** You'll need an API Key in order to make API calls,\nand you
    should treat this key as secret as a password. The API Key should **never** be
    transmitted to or included into the front-end.\nIf you need to make calls from
    a front-end, you should proxy them by a server that you control, that will add
    your API Key.\n\nSome functionalities are disabled in Sandbox, to avoid having
    a production impact:\n- Business data will not be sent to the different publishers
    such as Google, Facebook, etc.\n- It's not possible to import Google and Facebook
    account listings.\n- There's no real reviews data, or real analytics data. The
    account starts empty, but can be filled by fake data if needed. For this, contact
    you Partoo Account Manager.\n\n## Rate Limiting\nIn order to keep service available
    for everyone, our APIs are protected using a Rate Limit.\n\nEach organization
    is limited to **300 calls per minute** by default.\nIf your integration requires
    more calls for any reason, get in touch with your customer success to update this
    limit, with review from our Tech team.\n\nAny call beyond the reached limit will
    result in an error with [status code 429](https://developer.mozilla.org/fr/docs/Web/HTTP/Status/429).\nA
    http header `Retry-After` is added to the response to hint when a query can be
    retried (60s later).\n\n\n## Resources ans roles\n\n\n### Resources structure\nPartoo
    data is organised around 5 main resources:\n1. **Provider:** A provider represents
    the entity that signs the contract with the client using Partoo solution & products.\nAn
    obvious example of provider is Partoo itself but a provider can also be a reseller
    of Partoo solutions.\nA provider owns `organizations`, `businesses`, `users` and
    `groups`. If you are a Partoo reseller there will be a provider resource representing\nyou
    inside Partoo app.\n2. **Organization:** An organization represents the legal
    entity, most likely a commercial company, that owns `businesses` (or listings).\nIf
    you are a Partoo client there are one or several organizations representing your
    companies.\nAn organization belongs to a `provider`.\n3. **User:** A user can
    be a Partoo app user or Partoo API user.\nA user belongs to an `organization`
    and has a `role` which gives him different levels of access on the different resources
    on Partoo (see section below).\n4. **Business:** A business represents a listing.
    It belongs to an `organization`\n5. **Group:** A group contains businesses, each
    organization can have several groups of businesses.\n\n### Roles\nTo use Partoo
    Rest API, you need an `api_key` (see authentication section). An `api_key` authenticates
    a user and each user has a `role`.\n\nA `role` defines for each resource (for
    instance `user`) a`READ` and/or `WRITE` access with the scope on which this access
    can be used.\n\nFor instance a user with `BUSINESS_MANAGER` role has `WRITE` access
    on its own user and `READ` acces to all the users of its organization.\n\nFor
    now there are 5 roles available:\n- `PROVIDER` role is meant for reseller admin
    user. It can manage organizations, users and businesses of a provider\n- `ORG_ADMIN`
    role is meant for client admin user. It can manage the user and businesses of
    its organization\n- `GROUP_MANAGER` role is meant for client group manager. It
    can manage several businesses and users that belong to the group he managed\n-
    `BUSINESS_MANAGER` role is meant for client business manager. It can manage several
    businesses, only if these businesses are in the same group.\n- `PUBLISHER` role
    is meant for publisher wanting to use Partoo as a data source. It can read Partoo
    businesses subscribed to presence management product\n\n#### PROVIDER\n`PROVIDER`
    role is meant for reseller admin user. It can manage its provider organizations,
    users and businesses.\n\n#### Read access\n| Resource     |\tScope\t| Details
    \                                             |\n| ------------ | -------- | ----------------------------------------------------
    |\n| User\t     | Provider | Can access the users that shares its provider        |\n|
    Organization | Provider | Can access the organizations that shares its provider|\n|
    Group        | Provider | Can access the groups that share its provider        |\n|
    Business\t | Provider | Can access the businesses that share its provider    |\n|
    Category\t | All\t    | Can access all categories                            |\n\n####
    Write access\n| Resource     |\tScope\t    | Details                                          |\n|
    ------------ | ------------ | ------------------------------------------------
    |\n| User\t     | Provider     | - Can create user, it will share its provider
    <br> - Can update user that shares its provider <br> - Can give role `ORG_ADMIN`
    and `BUSINESS_MANAGER` to user |\n| Organization | Provider     | - Can create
    organization, it will share its provider <br> - Can update org that shares its
    provider |\n| Group        | Provider     | - Can create group, it will share
    its provider <br> - Can update group that shares its provider |\n| Business     |
    Provider     | - Can create business, they will share its provider (and its org_id
    if no org_id given) <br> - Can update businesses that shares its provider |\n|
    Category\t | not writable\t|                                                  |\n\n###
    ORG_ADMIN\n`ORG_ADMIN` role is meant for client admin user. It can manage its
    organization users and businesses.\n\n#### Read access\n| Resource     |\tScope\t
    \   | Details                                           |\n| ------------ | ------------
    | ------------------------------------------------- |\n| User\t     | Organization
    | Can access the users that shares its org_id       |\n| Organization | Organization
    | Can access only its own org                       |\n| Group        | Organization
    | Can access the group that shares its org_id       |\n| Business\t | Organization
    | Can access the businesses that shares its org_id  |\n| Category\t | All\t        |
    Can access all categories                         |\n\n#### Write access\n| Resource
    \    |\tScope\t    | Details                                           |\n| ------------
    | ------------ | ------------------------------------------------- |\n| User\t
    \    | Organization | - Can create user, it will share its provider and its `org_id`.
    <br> - Can update user that shares its `org_id` <br> - Can give the role `GROUP_MANAGER`
    and `BUSINESS_MANAGER` to its user |\n| Organization | Organization | - Can update
    itself <br> - Cannot create new org. |\n| Group        | Organization | - Can
    create group, it will share its provider and its `org_id` <br> - Can update group
    that shares its `org_id`\n| Business\t | Organization | - Can create business,
    it will share its provider and its `org_id` <br> - Can update businesses that
    shares its `org_id`|\n| Category\t | not writable |                                                   |\n\n###
    GROUP MANAGER\n`GROUP_MANAGER` role is meant for client group manager. It can
    manage several businesses and users that belong to the group he managed.\n\n####
    Read access\n| Resource     |\tScope\t    | Details                                            |\n|
    ------------ | ------------ | --------------------------------------------------
    |\n| User\t     | Organization | Can access the `ORG_ADMIN` that shares its `org_id`
    and the `GROUP_MANAGER`and `BUSINESS_MANAGER` that belong to its group |\n| Organization
    | Organization | Can access only its own org                        |\n| Group
    \       | Group        | Can access only its group                          |\n|
    Business\t | Group        | Can access the businesses that belong to its group
    |\n| Category\t | All\t        | Can access all categories                          |\n\n####
    Write access\n| Resource     |\tScope\t    | Details                                            |\n|
    ------------ | ------------ | --------------------------------------------------
    |\n| User\t     | Group        | - Can create user, it will share its provider,
    its `org_id` and its `group_id`. <br> - Can update user that shares its `org_id`
    <br> - Can only give the role `BUSINESS_MANAGER` to its user |\n| Organization
    | No access    |                                                    |\n| Group
    \       | Group        | - Can update its own group <br> - Cannot create group
    |\n| Business     | Group        | - Can update businesses that belong to its
    group <br> - Cannot create business |\n| Category\t | not writable |                                                    |\n\n###
    BUSINESS_MANAGER\n`BUSINESS_MANAGER` role is meant for client business manager.
    It can manage several businesses, only if these businesses are in the same group.\n\n####
    Read access\n| Resource     |\tScope\t    | Details                                           |\n|
    ------------ | ------------ | -------------------------------------------------
    |\n| User\t     | Organization | Can access the users that shares its org_id       |\n|
    Organization | Organization | Can access only its own org                       |\n|
    Group        | Group        | Can access only its group                         |\n|
    Business\t | Business     | Can access the businesses that it has direct access
    to |\n| Category\t | All\t        | Can access all categories                         |\n\n####
    Write access\n| Resource     |\tScope\t    | Details                                           |\n|
    ------------ | ------------ | -------------------------------------------------
    |\n| User\t     | User         | - Can update its user only                        |\n|
    Organization | No access    |                                                   |\n|
    Group        | No access    |                                                   |\n|
    Business\t | Business     | - Can update businesses that it has direct access
    to <br> - Cannot create business |\n| Category\t | not writable |                                                   |\n\n###
    PUBLISHER\n`PUBLISHER` role is meant for publisher wanting to use Partoo as a
    data source. It can read Partoo businesses subscribed to presence management product.\n\n####
    Read access\n| Resource     |\tScope\t                         | Details                                |\n|
    ------------ | --------------------------------- | --------------------------------------
    |\n| User\t     | No access                         |                                        |\n|
    Organization | All                               | Can access all Partoo organizations
    \   |\n| Group        | No access                         |                                        |\n|
    Business\t | Subscribed to Presence Management | Can access the businesses subscribed
    to presence management product |\n| Category\t | All\t                             |
    Can access all categories              |\n\n## Technical Support\nFor any questions
    related to the API functionality, please contact the technical support team at
    api@partoo.fr.\n"
- name: ApiKeys
  description: 'In this section you will have all the operation to list/information/revoke/update
    api keys that can be used to authenticate user either on the REST API or on the
    JS API. A user has access to it''s own api keys. Only ORG_ADMIN and PROVIDER users
    can access api keys type BOT.

    '
- name: Businesses
  description: "<p>A <code>business</code> object contains all the details related
    to a local store. All the businesses created will be grouped under your <code>organization</code>.
    The organization is created at the onboarding phase, by Partoo. <p>In this section,
    is explained how a business can be created, updated or retrieved.\n"
- name: Business Fields
  description: 'These endpoints give you the list of all the fields that are available
    for the business / organization / provider, grouped by section. <p>A `section`
    corresponds to the tabs in the Business Edit view of    Partoo UI. **Examples:**
    *Coordinates, Description, Custom Fields...* <p>Each section contains an array
    of fields that are displayed within it. **Examples:** *Name, Country, Email...*
    <p>**For each field**, these endpoints give you the `permissions` for each fields,
    depending on your role: <li>`enabled` Your right to write on a field, given by
    roles less restricitves than yours. <li>`enabled_for_subroles` The right to write
    on a field you give to roles more restrictives than yours. <p>**For example**:
    <li>If the user is **ORG_ADMIN**, `enabled_for_subroles` describes the permissions
    of the field for all the GROUP_MANAGER and BUSINESS_MANAGER of the given organization.
    <li>If the user is **PROVIDER**, `enabled_for_subroles` describes the permissions
    of the field for all the ORG_ADMIN, GROUP_MANAGER and BUSINESS_MANAGER of the
    given provider. <p>**For each `custom_fields`**, these endpoints also give you
    their `metadata`: <li>Type, id and order for all of them <li>Constraints such
    as minimum and maximum for a number or list of values for a select. <p>See the
    response schema below for more details about each type metadata.

    '
- name: Categories
  description: |
    Categories describe your business and has a huge impact on its discoverability on directories.
    For each business, you will need to pass at least one category id (example: <i>"gcid:restaurant"</i>) and up to 10.
    Please note that the order you pass to business.categories array is important: <b>the first category id</b> should correspond to <b>the most relevant category</b> for your business.

    You can find below all available operations that will let you get more information about categories you can use on Partoo.
- name: Connection Tokens
  description: 'In this section you will have all the operations to create/check/revoke
    connection tokens that can be used to authenticate users on the JS SDK or to build
    a SSO.</br>

    '
- name: Custom Fields
  description: '<p>All operations available on Custom Fields metadata : creation,
    update and deletion of custom fields. <p>⚠️ <b>What are Custom fields ?</b> <p>Custom
    Fields allow Enterprise Administrators to add custom data fields to businesses
    in Partoo / Localoo under different formats (List, Text, Number…) in order to
    create a central datahub for local information. These fields can be used to: <li>Automatically
    feed other tools (Store locator, website, CRM, Chatbot...) from Partoo / Localoo.
    <li>Allow local users to fill custom fields in order to transmit data from local
    to central. <p>Once created, Custom Fields values can be updated like any other
    business field. <p>To handle custom fields values for businesses, <a href="#tag/Businesses">see
    business endpoints</a>. <p>To recover the list of custom fields available for
    a business <a href="#operation/getBusinessFieldsForOrg">see GET business fields
    endpoint</a>.

    '
- name: Custom Fields Section
  description: "<p>All operations on <b>Custom Field Sections</b>: retrieval, creation,
    update, and deletion of custom field sections.  <p>⚠️ <b>What are Custom Field
    Sections ?</b> <p>Custom Field Sections are used to group related custom fields
    together for better organization and management. Each section can contain multiple
    custom fields, allowing you to structure, order and categorize your custom fields
    effectively.\n"
- name: Feedback Management
  description: |
    <b>⚠️ This feature is available only for businesses subscribed to Feedback Management. ⚠️</b>

    All available operation regarding the management of your feedbacks.

    The Feedback Management API is currently in **BETA**, therefore the following endpoints are subject to modification,
    given a 2 week notice.

    If you are planning to use any of them, please notify us
    so we will be able to keep you informed about upcoming changes.
- name: Google
  description: "All the operations you can perform on Google. \n"
- name: Groups and Sections
  description: |
    <h2>Introduction</h2> <p>
        Our group system offers flexible organization of businesses through a comprehensive
        system of Groups and Sections. Businesses can belong to multiple groups, and groups
        are organized into logical sections for easier management and filtering.
    </p>
    <h2>Key Features</h2> <ul>
        <li>A Business can belong to multiple Groups simultaneously</li>
        <li>Users with the <code>BUSINESS_MANAGER</code> role can manage businesses from multiple Groups</li>
        <li>Groups are organized into Sections for efficient filtering and organization</li>
    </ul>
    <h2>Groups Architecture</h2> <img src="https://partoo-api-doc.s3.eu-west-1.amazonaws.com/groups_example.png" />
    <p>Here, Country / Facade Color / Service are the sections in which groups are organized.</p> <p>A business can belong to any combination of these groups, for example:</p> <ul>
        <li>France / Blue</li>
        <li>Spain / Green / Red / Bakery</li>
        <li>Italy / Pharmacy</li>
    </ul>
    <h3>Filtering</h3>
    <p>Groups are used as a filtering system, either to filter businesses by group in our different pages (such as our Analytics pages), or to assign multiple businesses to a user using groups:</p>
    <ul>
      <li>When selecting different groups from the same section, the system will consider the selection as an <b>"OR"</b> condition. Example: selecting "France" and "Spain" will return all businesses that belong to <b>either</b> "France" <b>or</b> "Spain".</li>
      <li>When selecting groups from different sections, the system will consider the selection as an <b>"AND"</b> condition. Example: selecting "France" and "Blue" will return all businesses that belong to <b>both</b> "France" <b>and</b> "Blue".</li>
    </ul>
    <h2>Group Manager Access</h2>
    <p>
        Users with the <code>GROUP_MANAGER</code> role can manage businesses using group combinations.
        A business filtering using groups is what we call an <b>access</b>. For example, the access "France/Bakery" will return all businesses that belong to the "France" group and the "Bakery" group.
    </p>
    <p>
       A <code>GROUP_MANAGER</code> can be assigned to one or multiple accesses, and will be able to manage all businesses that belong to the groups included in these accesses.
    </p>
    <h3>Example</h3>
    <p>
        A <code>GROUP_MANAGER</code> can be set up to manage all Bakery businesses in France with the access "France/Bakery":
    </p>
    <img src="https://partoo-api-doc.s3.eu-west-1.amazonaws.com/groups_single_access.png" />
    <p>
        For more complex scenarios, multiple accesses can be created for the same user. For example, this user can manage:
    </p> <ul>
        <li>All banks in France</li>
        <li>All green pharmacies in Italy</li>
    </ul>
    <img src="https://partoo-api-doc.s3.eu-west-1.amazonaws.com/groups_multiple_accesses.png" />
    <h2>Assigning groups to businesses and accesses to users</h2>
    <ul>
        <li>You can assign businesses to a group using the <a href="#operation/createGroup">create group endpoint</a> or the <a href="#operation/updateGroup">update group endpoint</a>.</li>
        <li>For a single business, you can specify its groups using the <code>groups</code> field during the creation or update of the business using the <a href="#operation/createBusiness">create business endpoint</a> or the <a href="#operation/updateBusiness">update business endpoint</a>.</li>
        <li>You can assign accesses to a <code>GROUP_MANAGER</code> user using the <code>accesses</code> field during the creation or update of the user using the <a href="#operation/createUser">create user endpoint</a> or the <a href="#operation/updateUser">update user endpoint</a>.</li>
    </ul>
    <p>
        If you have any questions about implementing the groups system, please reach out to our technical support team at <a href="mailto:api@partoo.fr">api@partoo.fr</a>.
    </p>
- name: Holidays
  description: "**Holidays** Retrieve a list of upcoming holidays for the specified
    country\n"
- name: Messages
  description: |
    <b>⚠️ This feature is available only for businesses subscribed to the Messages Product. ⚠️</b>
    All the operations you can perform on Messages and Conversations.

    Conversations happens between a Business and a consumer that wants to get
    in touch with the business.

    A Consumer can reach out to the business on one of the supported messaging
    channels (Google, Facebook, Instagram, SMS). It will then create a new
    Conversation.

    ⚠️ When dealing with `Instagram` conversations, there are some requirements that you have to follow :
    - You must not store consumer media (images, stories, ...). You can store
    the media URL, but not it's content.
    - If you store conversation messages, you must also implement the
    [Message Deleted](#operation/message_deleted) webhook. When a
    Message Deleted event is received, you
    must delete the stored content of the message.
- name: Message Reply Templates
  description: |
    <b>⚠️ This feature is available only for businesses subscribed to the Messages Product. ⚠️</b>

    ↳ Perform all operations on Message Reply Templates setup.

    Reply Templates for Messages allow users to send pre-made messages to customers, ensuring quicker responses while maintaining the brand’s tone of voice.

    ℹ️ The message content can be dynamically changed using placeholders.<br/>
    Example: "Hello {{client_full_name}}, how can I help you today?"<br/>

    Available placeholders are: `client_full_name`, `client_first_name`, `business_name`, `my_first_name`, `rb_link`, `address`, `website_url`, and `phone_number`.
- name: Messaging Settings
  description: |
    All the operations you can perform on Messaging Settings.

    Messaging settings encapsulates all options available to customize the
    Partoo messaging experience, for a specific Business.

    - welcome message
    - offline messages
    - chat hours
    - launch status

    Messaging Settings are automatically created for businesses subscribed to
    the Messages Product.

    ⚠️ This feature is available only for businesses subscribed to the Messages
    product. ⚠️
- name: Organizations
  description: 'All the operations you can perform on organization. An organization
    is an entreprise that owns businesses.

    '
- name: Posts
  description: |
    Post is a feature that allows businesses to create and share announcements, offers,
    new or popular items in stock, or event details directly with the customers.
    The post will appear on the specified partner, which will boost the results for the business.

    When a business is connected to a Google location (action performed in Partoo app on
    <a href="https://app.partoo.co/settings/platforms/connection">Partner Connection</a> page),
    all the Google Posts will be automatically imported.
    When a business is disconnected the Google Posts published on Google will be deleted from Partoo database.
    </br></br></br>

    <b>⚠️ -- Google Post -- ⚠️<br />
    ⚠️ Feature only available for small and midsize businesses (SMBs) ⚠️</b>

    Google Posts is a feature that allows businesses to create and share announcements, offers,
    new or popular items in stock, or event details directly with the customers.
    The post will appear on Google Search and Maps, which will boost the results for the business.

    When a business is connected to a Google location (action performed in Partoo app on
    <a href="https://app.partoo.co/settings/platforms/connection">Partner Connection</a> page),
    all the Google Posts will be automatically imported.
    When a business is disconnected the Google Posts published on Google will be deleted from Partoo database.
- name: Place Action Links
  description: 'Endpoint to retrieve available place action links from the Google
    Places API

    '
- name: Presence analytics
  description: 'All the operations to perform analytics on Presence Management.

    '
- name: Reviews
  description: |
    <b>⚠️ This feature is available only for businesses subscribed to Review Management. ⚠️</b>

    Partoo centralises all businesses reviews from Google, Facebook and TripAdvisor platforms.

    The reviews are fetched once per day (over night), therefore a it is expected to have a delay of maximum 24h.
    The Partoo APIs enable a simple way of replying to any new reviews, update an existing reply or delete a reply.
    A review can have one of the following status:
    - `treated`: has a reply/comment or it was manually marked as treated in the Partoo UI
    - `not-treated`: it doesn't have a reply/comment and it was not manually marked as treated in the Partoo UI
    - `deleted`: the review was removed by the user on the original platfrom.

    **Note:** the review itself cannot be altered nor deleted via the APIs.

    Reply templates allow business managers to gain time in replying to the reviews,
    via a predefined answer which can be easily selected and sent.

    Reply templates are not meant to be used outside the Partoo application.
    For this reason it is not possible to access a _formatted_ template, with prefilled placeholders from the API.

    However it is still possible to browse through, create or delete reply templates from the Partoo API.
- name: Review analytics
  description: |
    <b>⚠️ This feature is available only for businesses subscribed to Review Management. ⚠️</b>

    All the operations to perform Reviews analytics.
- name: Review Booster
  description: |
    All operations related to the Review Booster product. <p>⚠️ SMS send functionality cannot be tested in Sandbox env.
    All operations related to the Review Booster product. <p>⚠️ SMS send functionality cannot be tested in Sandbox env.
- name: Users
  description: All operations available on users
- name: Webhooks
  description: |2

    ## About Webhooks
    The webhooks are a way for you to be automatically notified of real-time
    events.

    When a specific event occurs, the webhook is triggered and will send you
    related data through an url that you provided.

    The webhook will trigger for businesses with the same `org_id`.

    <br>
    <b>⚠️ To activate webhooks, you will need to contact your customer
    success. ⚠️</b>

    You can also set webhooks on our website in the settings > integrations > webhooks.

    You can subscribe to each event independently.

    To subscribe to an event, you need to provide the following informations:
      - An url where you will receive the event data (can be shared for multiple
      events)
      - Your `org_id`
      - The type of webhook event you wish to activate

    <br>
    When an event is triggered and if you configured a webhook for it, we will
    make an HTTP Post request to the URL that you provided. The body of the
    request will contain the payload of the event, as described in the sections
    below.

    Upon receiving this HTTP request, you must respond with a `200` Success HTTP
    code.

    If your server fails to treat the incoming request with an Internal error
    code (`500` range), we will assume that the error is temporary and retry
    sending the event.
    If after a few attempts the error persists, we will stop retrying and the
    event will be lost.

    If your server fails with any other error code, we will assume that you
    cannot treat the request and will not retry sending the event.

    <br>

    ## Webhook security

    A common requirement for webhook subscribers is the security aspect of validation of issuer.

    Here are the possible validations that we offer for security

    ### Digital Signature

    All webhooks contain a header `X-Partoo-Signature-<version>` (example: `X-Partoo-Signature-v1`)
    The value of this header is the base64-encoded hash of payload with asymmetric encryption ed25519 algorithm.

    <details>
      <summary>Production Key</summary>

      ```
      -----BEGIN PUBLIC KEY-----
      MCowBQYDK2VwAyEA0G9ciHL6XZQXuWq6W4dFLvwNEPWgcdtQgEVlBIwZWBQ=
      -----END PUBLIC KEY-----
      ```
    </details>
    <details>
      <summary>Sandbox Key</summary>

      ```
      -----BEGIN PUBLIC KEY-----
      MCowBQYDK2VwAyEALsyvX2yVnG3ZKRIFfEvYk2nkzanoNgAqBSqdeNub4sM=
      -----END PUBLIC KEY-----
      ```
    </details>

    Here are sample snippets

    <details>
      <summary>Python</summary>

      ```python
      from base64 import b64decode
      import binascii
      from cryptography.hazmat.primitives import serialization
      from cryptography.hazmat.primitives.asymmetric import ed25519

      # load public key from filesystem, you may adapt depending on your secret management framework
      public_key = serialization.load_pem_public_key(open("/var/secrets/partoo.pub.pem"))

      def validate_signature(request):
        if (signature:=request.headers.get("X-Partoo-Signature-v1")) is None:
          raise ValueError("Missing signature")

        # don't trust your inputs
        # will raise a subclass of ValueError if format is invalid
        decoded_signature = b64decode(signature, validate=True)

        # validate payload's signature
        try:
          public_key.verify(decoded_signature, request.body.encode())
        except Exception as e:
          raise ValueError("Invalid signature") from e
      ```

    </details>
    <details>
      <summary>JavaScript</summary>


      ```javascript
      const fs = require('fs');
      const crypto = require('crypto');

      // Load public key from filesystem
      const publicKey = fs.readFileSync('/var/secrets/partoo.pub.pem', 'utf8');

      function validateSignature(request) {
        const signature = sig;
        if (!signature) {
          throw new Error('Missing signature');
        }
        // Decode the base64 signature
        let decodedSignature;
        try {
          decodedSignature = Buffer.from(signature, 'base64');
        } catch (err) {
          throw new Error('Invalid signature format');
        }
        // Verify the payload's signature
          if (!crypto.verify(null, Buffer.from(payload), publicKey, decodedSignature)) {
        throw new Error('Invalid signature');
      }
      }
      ```

    </details>


    ### Add a secret to your webhook's url

    When configuring the webhook, you may add an additional parameter that may represent some secret that only Partoo and you share.<br/>
    This parameter can be either in url path, or as query string parameter.<br/>
    Examples:
    - `https://my.integration.io/webhooks/partoo/9fa91de19/business_update`
    - `https://my.integration.io/webhooks/partoo/business_update?key=9fa91de19`

    ## Webhook API

    You can use the API to subcribe to relevant events using the enpoints described
    below.

    This feature is currently in beta and the API might change before reaching the
    general availability stage.

    `PROVIDER` users acting for their customers are required to provide an `org_id`
    query parameter.
- name: JS SDK
  description: '<p>To know how to integrate Partoo in a white label mode using our
    JS SDK, please check our <a href="/js_sdk/">JS SDK documentation</a>.

    '
- name: SSO
  description: |
    <h2>What is SSO?</h2>
    <p> <b>Single sign-on (SSO)</b> is an authentication method that allows users to access multiple applications with a single set of credentials. </p>

    <p> For Partoo, this means users can access the Partoo app directly from your application directory. </p>
    <p> SSO involves two parts: </p>
    <ul>
        <li>
        The <b>Service</b> (the application you're connecting to, in this case,
        Partoo).
        </li>
        <li>
        The <b>Identity Provider</b> (the system managing users and logins, in
        this case, your system).
        </li>
    </ul>
    <p> Partoo, as a <b>Service</b>, supports SSO connections using two protocols commonly supported by most Identity Providers (such as Google, Microsoft Azure Active Directory, Okta, etc.): </p>
    <ul>
        <li><b>SAML</b></li>
        <li><b>OIDC</b> (OpenID Connect) with <b>PKCE flow</b></li>
    </ul>
    <p> ⚠️ <b>Important: Our SSO functionality only allows connections to existing Partoo accounts.  It does not automatically create accounts.  You must create users beforehand, either through the Partoo API or the Partoo interface.</b> </p>
    <h2>How to set up SSO with Partoo?</h2>
    <h3>Step 1 – Enable the SSO features for your organization</h3>
    <p> To enable SSO for your organization on Partoo, first contact your Customer Success Manager. </p>
    <h3>Step 2 – Retrieve required information from the Partoo App</h3>
    <p> After our team enables SSO for your organization, you can access the information needed to configure the connection with your identity provider. </p>
    <p> In the Partoo app, navigate to the SSO configuration page: <b>Settings</b> > <b>Integrations</b> > <b>SSO Connection</b> > <b>OIDC</b> or <b>SAML</b>, depending on your chosen protocol. </p>
    <p> This page will also be used in Step 4 to enter information from your identity provider. </p>
    <p> For the next step, you'll need the following information from this page: </p>
    <h4>For SAML</h4> <ul>
      <li>ACS URL</li>
      <li>Metadata URL</li>
    </ul>
    <h4>For OIDC</h4> <il>
      <li>Redirect URL</li>
    </il>
    <h3>Step 3 – Add a Partoo application to your identity provider</h3>
    <p> In the endpoints below, <code>{identifier}</code> is a placeholder for the unique identifier of your SSO configuration. Newer configurations use UUIDs, while older ones may use a name like "your_enterprise_name". The formatted URLs can be found on the configuration page mentioned at the previous step. </p>
    <p> You will need to create a Partoo application in your Identity Provider using the following parameters: </p>
    <h4>For SAML</h4> <ul>
        <li>ACS URL: <code>https://app.partoo.co/api/v2/saml/{identifier}/acs</code>
        <li>Entity Id: <code>https://app.partoo.co/api/v2/saml/{identifier}/metadata/</code>
        <li>Attribute mapping: email => <code>email</code> or <code>urn:oid:0.9.2342.19200300.100.1.3</code>
        <li>[optional] Allowed callback url: <code>https://app.partoo.co/api/v2/saml/{identifier}/acs</code>
    </ul>
    <h4>For OIDC</h4> <ul>
        <li>Redirect URL: <code>https://app.partoo.co/connection?sso_alias={identifier}</code>
    </ul>
    <h3>Step 4 – Add the connection information in the Partoo app</h3>
    <p> Once you've created the Partoo application in your Identity Provider, you'll need to configure the connection information in Partoo to finalise the setup. </p>
    <h4>For SAML</h4> <ul>
        <li>
          Click the <b>Prefill</b> button in the banner and upload your
          <code>metadata.xml</code> file. The configuration will be extracted
          automatically.
        </li>
        <li>
          Alternatively, you can manually fill in the following fields:
          <ul>
            <li>Entity ID</li>
            <li>Single Sign-on service</li>
            <li>X509 Certificate</li>
          </ul>
        </li>
        <li>Regardless of which method you choose, you can also set:
          <ul>
            <li>An expiration date for your certificate or configuration.</li>
            <li>A technical contact email address.</li>
          </ul>
        </li>
    </ul>
    <h4>For OIDC</h4> <ul>
        <li>
          Click the <b>Prefill</b> button in the banner and enter your
          <code>.well-known</code> URL. Most of the configuration will be
          extracted automatically.
        </li>
        <li>
          Alternatively, you can manually fill in the following fields:
          <ul>
            <li>Issuer</li>
            <li>Single Sign-on service</li>
            <li>Token endpoint</li>
            <li>JWKS URI</li>
          </ul>
        </li>
        <li>
         Regardless of the method you choose, you must enter your
         <code>client_id</code> and, if required by your identity provider, your
         <code>client_secret</code>.
        </li>
    </ul>
    <h3>Step 5 – Test the connection</h3>
    <p> Once the configuration is complete on both sides, you can test the login endpoint to initiate the SSO connection: </p>
    <ul>
        <li>For SAML: <code>https://app.partoo.co/api/v2/saml/{identifier}/login</code>
        <li>For OIDC: <code>https://app.partoo.co/api/v2/oidc/{identifier}/login</code>
    </ul>
    <p> You can also log in via SSO from the <a href="https://app.partoo.co/connection/sso">Partoo connection page</a>. </p>
    <h2>FAQ</h2>
      <h3>How can we create users?</h3>
        Users cannot be created automatically with the SSO. They need to be created manually through the app or the API.
        See <a href="https://developers.partoo.co/rest_api/v2/#operation/createUser">API User creation</a>
      <h3>How to create an SSO only user?</h3>
        To create a user with SSO only, you need to send <code>sso_only = True</code>, <code>send_invitation=False</code> and no <code>password</code> in the creation call.
      <h3>What should I do when my certificate expires?</h3>
        Your generated certificates have an expiration date.
        You will be reminded to update them by email (on the technical contact provided) before the certificate expires.
        You can follow the email instructions, which will ask you to send a new certificate to the given email address.
      <h3>Can I use other methods to log in on the connection page?</h3>
        Sure, for example, if you use Google as an Identity Provider, you can use the Google login.
      <h3>For any other question</h3>
        See <a href="https://developers.partoo.co/rest_api/v2/#tag/Technical-Support">Technical support</a>
paths:
  "/api_keys":
    get:
      summary: List user API keys
      deprecated: false
      description: This endpoint lets you list all the API keys you have access to.
      operationId: getApiKeys
      tags:
      - ApiKeys
      parameters:
      - in: query
        name: status
        schema:
          "$ref": "#/components/schemas/Status"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - "$ref": "#/components/schemas/ListResult"
                - type: object
                  properties:
                    api_keys:
                      type: array
                      description: List of API keys
                      items:
                        "$ref": "#/components/schemas/ApiKey"
        '400':
          "$ref": "#/components/responses/400"
        '401':
          "$ref": "#/components/responses/401"
  "/api_keys/{api_key_id}":
    get:
      summary: API key information
      deprecated: false
      description: Given an API key ID, this endpoint gives you information about
        one key.
      operationId: getApiKey
      tags:
      - ApiKeys
      parameters:
      - in: path
        name: api_key_id
        required: true
        schema:
          "$ref": "#/components/schemas/id"
        description: Key ID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ApiKey"
        '400':
          "$ref": "#/components/responses/400"
        '401':
          "$ref": "#/components/responses/401"
        '403':
          "$ref": "#/components/responses/403"
        '404':
          "$ref": "#/components/responses/404"
    put:
      summary: Update API keys
      deprecated: false
      description: This endpoint lets you update API keys you have access to.
      operationId: updateApiKeys
      tags:
      - ApiKeys
      parameters:
      - in: path
        name: api_key_id
        required: true
        schema:
          "$ref": "#/components/schemas/id"
        description: Key ID
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                label:
                  "$ref": "#/components/schemas/label"
                expiration_date:
                  "$ref": "#/components/schemas/expiration_date"
                ip_whitelist:
                  "$ref": "#/components/schemas/ip_whitelist"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ApiKey"
        '400':
          "$ref": "#/components/responses/400"
        '401':
          "$ref": "#/components/responses/401"
        '403':
          "$ref": "#/components/responses/403"
        '404':
          "$ref": "#/components/responses/404"
  "/api_keys/revoke/{api_key_id}":
    post:
      summary: Revoke API key
      description: This endpoint lets you revoke an API key you have access to.
      operationId: revokeApiKey
      tags:
      - ApiKeys
      parameters:
      - in: path
        name: api_key_id
        required: true
        schema:
          "$ref": "#/components/schemas/id"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    "$ref": "#/components/schemas/id"
                  status:
                    type: string
                    example: success
        '400':
          "$ref": "#/components/responses/400"
        '401':
          "$ref": "#/components/responses/401"
        '403':
          "$ref": "#/components/responses/403"
        '404':
          "$ref": "#/components/responses/404"
  "/business/search":
    get:
      operationId: searchBusinesses
      tags:
      - Businesses
      summary: Search for businesses
      description: 'This lets you search among the businesses you have `READ` access
        to. You can use several filters. The response is paginated (30 results per
        page).

        '
      parameters:
      - "$ref": "#/components/parameters/query_filter_by_fuzzy_query_on_business"
      - "$ref": "#/components/parameters/query_business__in"
      - "$ref": "#/components/parameters/query_filter_by_org_id"
      - "$ref": "#/components/parameters/query_filter_by_groups"
      - "$ref": "#/components/parameters/query_filter_by_country"
      - "$ref": "#/components/parameters/query_filter_by_business_name"
      - "$ref": "#/components/parameters/query_filter_by_business_status"
      - "$ref": "#/components/parameters/query_filter_by_zipcode"
      - "$ref": "#/components/parameters/query_filter_by_city"
      - "$ref": "#/components/parameters/query_filter_by_business_code"
      - "$ref": "#/components/parameters/query_filter_by_business_modification_timestamp"
      - "$ref": "#/components/parameters/query_filter_by_business_features__in"
      - "$ref": "#/components/parameters/query_filter_by_business_features__notin"
      - "$ref": "#/components/parameters/query_filter_by_business_subscription_to_review_management"
      - "$ref": "#/components/parameters/query_filter_by_business_subscription_to_presence_management"
      - "$ref": "#/components/parameters/query_filter_by_business_subscription_to_review_booster"
      - "$ref": "#/components/parameters/query_filter_by_business_subscription_to_messages"
      - "$ref": "#/components/parameters/query_filter_by_business_completion_rate__gte"
      - "$ref": "#/components/parameters/query_filter_by_business_completion_rate__lte"
      - "$ref": "#/components/parameters/query_filter_by_business_completion_rate"
      - "$ref": "#/components/parameters/query_filter_by_business_promo"
      - in: query
        name: connected_to_gmb_location
        schema:
          type: string
          enum:
          - 'True'
          - 'False'
        required: false
        description: Filter by current link to a Google location
      - in: query
        name: connected_to_facebook_location
        schema:
          type: string
          enum:
          - 'True'
          - 'False'
        required: false
        description: Filter by current link to a Facebook location
      - "$ref": "#/components/parameters/query_page_up_to_100"
      - "$ref": "#/components/parameters/query_per_page_1_100"
      - in: query
        name: order_by
        schema:
          type: string
          enum:
          - id
          - name
          - code
          - created
          - modified
          - country
          - city
          - zipcode
          - completion_rate
          - "-id"
          - "-name"
          - "-code"
          - "-created"
          - "-modified"
          - "-country"
          - "-city"
          - "-zipcode"
          - "-completion_rate"
          default: id
        required: false
        description: |
          Order result by given attribute.
          Reverse order can as well be obtained by using a `-` (minus sign) before the attribute name, e.g. `order_by=-name`
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - "$ref": "#/components/schemas/ListResult"
                - type: object
                  properties:
                    businesses:
                      type: array
                      description: List of Businesses
                      items:
                        "$ref": "#/components/schemas/BusinessWithCustomFields"
        '400':
          "$ref": "#/components/responses/400"
        '401':
          "$ref": "#/components/responses/401"
  "/business/search/stats":
    get:
      operationId: searchBusinessesStats
      tags:
      - Businesses
      summary: Get completion rate stats from your businesses
      description: |
        This endpoint works in the same way as the [operation/searchBusinesses](https://developers.partoo.co/rest_api/v2/#operation/searchBusinesses) endpoint, but instead of returning data on all returned businesses, this endpoint returns completion rate statistics aggregated across all businesses.

        The statistics returned are the average completion rate for all businesses that fit the given filters, as well as the count of businesses with a low, medium, and high respectively. The thresholds for low, medium, and high can be found below in the response details.

        Note that this endpoint works in the exact same way as [operation/searchBusinesses](https://developers.partoo.co/rest_api/v2/#operation/searchBusinesses) (with the exception of parameters that format the output, such as <code>order_by</code> and pagination), but the return value is different.
      parameters:
      - "$ref": "#/components/parameters/query_filter_by_fuzzy_query_on_business"
      - "$ref": "#/components/parameters/query_business__in"
      - "$ref": "#/components/parameters/query_filter_by_org_id"
      - "$ref": "#/components/parameters/query_filter_by_groups"
      - "$ref": "#/components/parameters/query_filter_by_country"
      - "$ref": "#/components/parameters/query_filter_by_business_name"
      - "$ref": "#/components/parameters/query_filter_by_business_status"
      - "$ref": "#/components/parameters/query_filter_by_zipcode"
      - "$ref": "#/components/parameters/query_filter_by_city"
      - "$ref": "#/components/parameters/query_filter_by_business_code"
      - "$ref": "#/components/parameters/query_filter_by_business_modification_timestamp"
      - "$ref": "#/components/parameters/query_filter_by_business_features__in"
      - "$ref": "#/components/parameters/query_filter_by_business_features__notin"
      - "$ref": "#/components/parameters/query_filter_by_business_subscription_to_review_management"
      - "$ref": "#/components/parameters/query_filter_by_business_subscription_to_presence_management"
      - "$ref": "#/components/parameters/query_filter_by_business_subscription_to_review_booster"
      - "$ref": "#/components/parameters/query_filter_by_business_subscription_to_messages"
      - "$ref": "#/components/parameters/query_filter_by_business_completion_rate__gte"
      - "$ref": "#/components/parameters/query_filter_by_business_completion_rate__lte"
      - "$ref": "#/components/parameters/query_filter_by_business_completion_rate"
      - "$ref": "#/components/parameters/query_filter_by_business_promo"
      - in: query
        name: connected_to_gmb_location
        schema:
          type: string
          enum:
          - 'True'
          - 'False'
        required: false
        description: Filter by current link to a Google location
      - in: query
        name: connected_to_facebook_location
        schema:
          type: string
          enum:
          - 'True'
          - 'False'
        required: false
        description: Filter by current link to a Facebook location
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  average_completion_rate:
                    description: The average completion rate of all businesses that
                      fit the filters given in paramers.
                    type: integer
                    example: 72
                  counts:
                    type: object
                    properties:
                      low:
                        type: integer
                        example: 2
                        description: The number of businesses that fit the filters
                          given in paramers with a completion score of <=33.
                      mid:
                        type: integer
                        example: 10
                        description: The number of businesses that fit the filters
                          given in paramers with a completion score of >33 and <=66.
                      high:
                        type: integer
                        example: 22
                        description: The number of businesses that fit the filters
                          given in paramers with a completion score of >66.
        '400':
          "$ref": "#/components/responses/400"
        '401':
          "$ref": "#/components/responses/401"
  "/business/connections_stats":
    get:
      tags:
      - Businesses
      operationId: getBusinessConnectionsStats
      summary: Statistics for your connected businesses
      description: 'This endpoint lets you access the number of businesses connected
        to different platforms.

        '
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: 'Total number of businesses.

                      '
                  linked_to_gmb_count:
                    type: integer
                    description: 'Number of businesses linked to Google.

                      '
                  linked_to_facebook_count:
                    type: integer
                    description: 'Number of businesses linked to Facebook.

                      '
                  linked_to_tripadvisor_count:
                    type: integer
                    description: 'Number of businesses linked to Tripadvisor.

                      '
                  linked_to_instagram_count:
                    type: integer
                    description: 'Number of businesses linked to Instagram.

                      '
        '401':
          "$ref": "#/components/responses/401"
  "/business":
    post:
      tags:
      - Businesses
      summary: Create business
      description: 'This API allows the creation of a new business in the context
        of your organization.

        '
      operationId: createBusiness
      requestBody:
        required: true
        content:
          application/json:
            schema:
              description: Request object
              type: object
              required:
              - name
              - country
              - categories
              - contacts
              properties:
                name:
                  "$ref": "#/components/schemas/BusinessName"
                org_id:
                  "$ref": "#/components/schemas/BusinessOrgId"
                groups:
                  "$ref": "#/components/schemas/groups"
                reach:
                  "$ref": "#/components/schemas/BusinessReach"
                country:
                  "$ref": "#/components/schemas/BusinessCountry"
                zipcode:
                  "$ref": "#/components/schemas/BusinessZipcode"
                city:
                  "$ref": "#/components/schemas/RequiredBusinessCity"
                region:
                  "$ref": "#/components/schemas/BusinessRegion"
                categories:
                  "$ref": "#/components/schemas/BusinessCategories"
                code:
                  "$ref": "#/components/schemas/BusinessCode"
                status:
                  "$ref": "#/components/schemas/BusinessStatus"
                opening_date:
                  "$ref": "#/components/schemas/BusinessOpeningDate"
                address_full:
                  "$ref": "#/components/schemas/AddressFull"
                address2:
                  "$ref": "#/components/schemas/Address2"
                lat:
                  "$ref": "#/components/schemas/BusinessLatitude"
                long:
                  "$ref": "#/components/schemas/BusinessLongitude"
                website_url:
                  "$ref": "#/components/schemas/BusinessWebsite"
                facebook_url:
                  "$ref": "#/components/schemas/BusinessFacebookPage"
                twitter_url:
                  "$ref": "#/components/schemas/BusinessTwitter"
                description_short:
                  "$ref": "#/components/schemas/BusinessShortDescription"
                description_long:
                  "$ref": "#/components/schemas/BusinessLongDescription"
                open_hours:
                  "$ref": "#/components/schemas/OpenHours"
                specific_hours:
                  "$ref": "#/components/schemas/SpecificHours"
                contacts:
                  "$ref": "#/components/schemas/BusinessContactsCreate"
                photos:
                  "$ref": "#/components/schemas/Photos"
                national_identification_number:
                  "$ref": "#/components/schemas/BusinessNationalIdentificationNumber"
                custom_fields:
                  "$ref": "#/components/schemas/CustomFields.Update"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    "$ref": "#/components/schemas/RequestStatus"
                  id:
                    "$ref": "#/components/schemas/BusinessId"
        '400':
          "$ref": "#/components/responses/400"
        '401':
          "$ref": "#/components/responses/401"
        '403':
          "$ref": "#/components/responses/403"
  "/business/{business_id}":
    get:
      tags:
      - Businesses
      operationId: getBusiness
      summary: Business information
      description: 'This endpoint lets you access to the information of a business.
        You need to have `READ`access on this business.

        '
      parameters:
      - "$ref": "#/components/parameters/business_id"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/BusinessWithCustomFields"
        '401':
          "$ref": "#/components/responses/401"
        '403':
          "$ref": "#/components/responses/403"
        '404':
          "$ref": "#/components/responses/404"
    post:
      tags:
      - Businesses
      operationId: updateBusiness
      summary: Update business
      description: 'This endpoint lets you access to the information of a business.
        You need to have `WRITE` access on this business. Only indicated values are
        taken into account (it works like a `PATCH`). You cannot push fields disabled
        for your org.

        '
      parameters:
      - "$ref": "#/components/parameters/business_id"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              description: Request object
              type: object
              properties:
                name:
                  "$ref": "#/components/schemas/BusinessName"
                org_id:
                  "$ref": "#/components/schemas/BusinessOrgId"
                groups:
                  "$ref": "#/components/schemas/groups"
                country:
                  "$ref": "#/components/schemas/BusinessCountry"
                zipcode:
                  "$ref": "#/components/schemas/BusinessZipcode"
                city:
                  "$ref": "#/components/schemas/BusinessCity"
                region:
                  "$ref": "#/components/schemas/BusinessRegion"
                categories:
                  "$ref": "#/components/schemas/BusinessCategories"
                code:
                  "$ref": "#/components/schemas/BusinessCode"
                status:
                  "$ref": "#/components/schemas/BusinessStatus"
                opening_date:
                  "$ref": "#/components/schemas/BusinessOpeningDate"
                address2:
                  description: Row address string
                  type: string
                address_full:
                  "$ref": "#/components/schemas/AddressFull"
                lat:
                  "$ref": "#/components/schemas/BusinessLatitude"
                long:
                  "$ref": "#/components/schemas/BusinessLongitude"
                website_url:
                  "$ref": "#/components/schemas/BusinessWebsite"
                facebook_url:
                  "$ref": "#/components/schemas/BusinessFacebookPage"
                twitter_url:
                  "$ref": "#/components/schemas/BusinessTwitter"
                description_short:
                  "$ref": "#/components/schemas/BusinessShortDescription"
                description_long:
                  "$ref": "#/components/schemas/BusinessLongDescription"
                open_hours:
                  "$ref": "#/components/schemas/OpenHours"
                specific_hours:
                  "$ref": "#/components/schemas/SpecificHours"
                contacts:
                  "$ref": "#/components/schemas/BusinessContacts"
                photos:
                  "$ref": "#/components/schemas/Photos"
                national_identification_number:
                  "$ref": "#/components/schemas/BusinessNationalIdentificationNumber"
                custom_fields:
                  "$ref": "#/components/schemas/CustomFields.Update"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    "$ref": "#/components/schemas/RequestStatus"
                  id:
                    "$ref": "#/components/schemas/BusinessId"
        '400':
          "$ref": "#/components/responses/400"
        '401':
          "$ref": "#/components/responses/401"
        '403':
          description: 'You are not allowed to perform this action

            '
          content:
            application/json:
              schema:
                description: 'Error that occurs when you are authenticated but you
                  are trying to perform an action you are not allowed to perform

                  '
                type: object
                properties:
                  errors:
                    type: object
                    description: The detail of the error encountered
                    properties:
                      authorization:
                        additionalProperties:
                          type: string
                          default: Operation not allowed
              example:
                errors:
                  authorization:
                    name: edit_not_allowed
                    open_hours: edit_not_allowed
                    photos.primary: edit_not_allowed
                    photos.secondary: edit_not_allowed
        '404':
          "$ref": "#/components/responses/404"
    delete:
      tags:
      - Businesses
      operationId: deleteBusiness
      summary: Delete business
      description: 'This endpoint lets you delete a business. You need to have `WRITE`access
        on this business.

        '
      parameters:
      - "$ref": "#/components/parameters/business_id"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Response object
                type: object
                properties:
                  id:
                    "$ref": "#/components/schemas/BusinessId"
                  status:
                    "$ref": "#/components/schemas/RequestStatus"
        '400':
          "$ref": "#/components/responses/400"
        '401':
          "$ref": "#/components/responses/401"
        '403':
          "$ref": "#/components/responses/403"
        '404':
          "$ref": "#/components/responses/404"
  "/business/{business_id}/subscription":
    get:
      tags:
      - Businesses
      operationId: getBusinessSubscriptions
      summary: Subscriptions for your business
      description: 'This endpoint lets you access the subscription of a business.
        You need to have `READ` access on this business.

        '
      parameters:
      - "$ref": "#/components/parameters/business_id"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Business subscriptions
                properties:
                  presence_management:
                    "$ref": "#/components/schemas/SubscriptionDetails"
                  review_management:
                    "$ref": "#/components/schemas/SubscriptionDetails"
                  review_booster:
                    "$ref": "#/components/schemas/SubscriptionDetails"
                  messages:
                    "$ref": "#/components/schemas/SubscriptionDetails"
        '401':
          "$ref": "#/components/responses/401"
        '403':
          "$ref": "#/components/responses/403"
        '404':
          "$ref": "#/components/responses/404"
  "/business/{business_id}/subscribe":
    post:
      summary: Subscribe a business
      operationId: subscribeBusiness
      description: 'This endpoint lets you subscribe a business to one or several
        Partoo products. You need to have `WRITE` access on the business you want
        to subscribe. You need to have `PROVIDER` to be able to perform this action.

        '
      tags:
      - Businesses
      parameters:
      - "$ref": "#/components/parameters/business_id"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                subscription_date:
                  type: number
                  description: Timestamp representing the date on which the subscription
                    will start
[...]
